<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">  
<hibernate-configuration>  
    <session-factory>  
            
        <property name="hbm2ddl.auto">update</property>    
        <property name="connection.url">jdbc:postgresql://localhost:5432/academy_top</property>    
        <property name="connection.driver_class">org.postgresql.Driver</property>   
        <property name="connection.username">tutor</property>    

        <mapping class="mathtest.MathResult"/>   
        <mapping class="mathtest.Question"/>  
    </session-factory>  
</hibernate-configuration>  